<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" 
   src="https://m.media-amazon.com/images/I/61FBfxXv+5L._AC_SL1300_.jpg"
  />
  <div class="card-body">
    <p class="card-text">
      <small class="text-mutued">{{ 254 | currency:'USD' }}</small>
    </p>
    <p class="card-text">
        Image result for rubic cube
        The easy solution to solve a Rubik's cube is to follow the approach to first solve the bottom layer, then the middle layer, and then finally the top layer. </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn">Add to Card</button>
        <button type="button" class="btn btn-sm btn-secondary product-btn">View Details</button>
      </div>
      
    </div>
  </div>
</div>
